* {
    margin: auto;
    padding: auto;
}


.conteiner {
    background-color: black;
    height: 1500px;

}




.fixed {
    height: 30px;
    width: 2000px;
    position: fixed;
}


/*Tabelas------------------------------------------------------------------------------------------------------------*/


.h-titulo {
    color: #fff;
    position: absolute;
    right: 700px;
    top: 100px;
}


.table {
    position: absolute;
    top: 150px;
    right: 400px;
}


.tabela-branca {
    color: #fff;
}



/*Planos logo------------------------------------------------------------------------------------------------------------*/


.planos-logo {
    position: absolute;
    top: 550px;
    right: 570px;
}


.easteregg {
    color: green;
    position: absolute;
    top: 100px;
}





.facu-img {
    height: 700px;
    width: 1580px;
}
